@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Merriweather+Sans:wght@800&display=swap');

.App {
    text-align: center;
    background-color: #121212;
    width: 100%;
    height: 100%;
    color: white;
}

body {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.453);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.left {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.center {
    margin: auto;
    font-size: 36px;
    position: absolute;
    right: 50%;
    left: 46%;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;

}

.right {
    display: flex;
    margin-left: 0px;
    /* padding: 0px 0px; */
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
}

.btn button {
    margin-left: 30px;
    padding: 0 25px;
    min-height: 35px;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
}

.menu,
.knowMore,
.stat,
.setting{
    font-size: 30px;
}

.knowMore,
.stat,
.setting {
    padding: 0px 6px;
}


.game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.letter {
    height: 100%;
    width: 100%;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border: 2px solid #3a3a3c;
    margin: .1rem .2rem;
    display: grid;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    align-items: center;
}

#correct {
    background-color: #528d4e;
    border: 2px solid #528d4e;
}

#almost {
    background-color: #b49f39;
    border: 2px solid #b49f39;
}

#error {
    background-color: #3a393c;
    border: 2px solid #3a393c;
}

.keyboard {
    width: 100%;
    position: relative;
    /* bottom: 0px; */
}

.line1 {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.line2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.line3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.key {
    width: 41px;
    height: 58px;
    margin-right: 6px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 1.25em;
    background-color: #818384;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
}

#big {
    width: 100px;
    user-select: none;
}

#disabled {
    background-color: #3a393c;
}
.gameOver{
    margin-top: 3rem;
}
.gameOver h1{
    margin-bottom: -15px;
    font-family: 'Cabin', sans-serif;
}
@media screen and (max-width:600px) {
    .keyboard {
        width: 100%;
        position: relative;
        margin-top: 8rem;
    }

    .center {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        position: unset;
    }

    .knowMore,
    .stat,
    .setting {
        padding: 0px;
        margin-right: 3px;
    }

    .menu,
    .knowMore,
    .stat,
    .setting {
        font-size: 20px;
    }

    .btn button {
        margin-left: 10px;
        padding: 0 8px;
        min-height: 24px;
        border: 2px solid white;
        border-radius: 50px;
        background: transparent;
        color: white;
        font-size: 12px;
    }
    .gameOver{
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    .gameOver h1{
        margin-bottom: 0px;
    }
}
